<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="">Acerca de</a>
                <a class="nav-link" href="">Detalle Pago</a>
                <a class="nav-link" href="">Contactos</a>
            </div>
        </div>
    </nav>
</body>
</html>
