<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Pago</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .content {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h2 {
            margin-bottom: 20px;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <div class="content">
        <h2>Detalle del Pago</h2>
        <table>
            <thead>
                <tr>
                    <th>Num. Docente</th>
                    <th>Nombre</th>
                    <th>Domicilio</th>
                    <th>Nivel</th>
                    <th>Pago hora base</th>
                    <th>Horas impartidas</th>
                    <th>Num. hijos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= numDocente %></td>
                    <td><%= nombre %></td>
                    <td><%= domicilio %></td>
                    <td><%= nivel %></td>
                    <td>$<%= parseFloat(pagoHoraBase).toFixed(2) %></td>
                    <td><%= horasImpartidas %></td>
                    <td><%= numHijos %></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Pago por horas impartidas</th>
                    <th>Pago por bono </th>
                    <th>Pago Impuesto del  16%</th>
                    <th>Total a pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$<%= pagoPorHoras %></td>
                    <td>$<%= pagoIncrementado %></td>
                    <td>$<%= impuesto %></td>
                    <td>$<%= totalPagar %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer.ejs') %>
</body>

</html>

