<style>
    .form {
        background-color: #15172b;
        border-radius: 20px;
        box-sizing: border-box;
        height: auto; /* Cambiado de 600px a auto */
        padding: 20px;
        width: 50%;
        margin-left: 25%; /* Cambiado de 23% a 25% */
        margin-top: 50px; /* Cambiado de 10px a 50px */
        max-width: 600px; /* Nuevo estilo para limitar el ancho máximo */
    }

    .input-container {
        margin-bottom: 20px; /* Cambiado de height a margin-bottom */
    }

    .input {
        background-color: #303245;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 50px;
        outline: 0;
        padding: 0 20px;
        width: 100%;
    }

    .select {
        background-color: #303245;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 50px;
        outline: 0;
        padding: 0 20px;
        width: 100%;
    }

    #botones {
        text-align: center;
    }

    button {
        background-color: #ff6b6b;
        border: 0;
        border-radius: 12px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #f03232;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Patria</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <form action="/detallePago" method="post">
        <div class="form">
            <div class="input-container ic1">
                <input placeholder="Núm. Docente" type="number" class="input" name="numDocente" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Nombre" type="text" class="input" name="nombre" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Domicilio" type="text" class="input" name="domicilio" required>
            </div>
            <div class="input-container ic2">
                <label for="nivel" style="color: white; margin-left: 10px;">Nivel</label>
                <select id="nivel" class="input" name="nivel" required>
                    <option value="1">Licenciatura o Ingeniería</option>
                    <option value="2">Maestro en Ciencias</option>
                    <option value="3">Doctor</option>
                </select>
            </div>
            <div class="input-container ic2">
                <input placeholder="Pago base por hora impartida" type="number" class="input" name="pagoHoraBase" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Horas impartidas" type="number" class="input" name="horasImpartidas" required>
            </div>
            <div class="input-container ic2">
                <input placeholder="Cantidad de hijos" type="number" class="input" name="numHijos" required>
            </div><br>
            <div id="botones">
                <button type="submit">Enviar Información</button>
                <button type="reset">Limpiar</button>
            </div>
        </div>
        <br><br>
    </form>
    <%- include('partials/footer.ejs') %>
</body>

</html>
